<tr>
  <td align="center" style="padding: 0 35px;text-align: center;">
    <h3 style="text-align:center;margin:0 auto 25px;font-weight: 600;font-size: 26px;color: #5c6a73;">Hi,</h3>
  </td>
</tr>
<tr>
  <td align="center" style="padding: 0 35px;">
    <p style="font-size:18px;line-height: 1.7;color:#5c6a73;margin:0 0 40px;">New user is waiting for Activation.
    </p>
    User email is: <p> <%= @user.email%> </p>
  </td>
</tr>
